apiVersion: batch/v1
kind: Job
metadata:
  name: job-demo
spec:
  completions: 5
  template:
    metadata:
      name: job-demo
      labels:
        app: curl
        demo: "true"
    spec:
      containers:
      - name: job-demo
        image: curlimages/curl
        resources:
          limits:
            cpu: "1"
        command: ["/bin/sh","-c"]
        args: ["curl https://www.google.com; sleep 5"]
      restartPolicy: OnFailure
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: job-demo-cronjob
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    metadata:
      labels:
        app: curl
        demo: "true"
    spec:
      template:
        metadata:
          name: job-demo-cronjob
          labels:
            app-inner: curl-inner
            demo-inner: "true-inner"
        spec:
          containers:
          - name: job-demo-cronjob-container1
            image: curlimages/curl
            command: ["/bin/sh","-c"]
            args: ["curl https://www.google.com; sleep 5"]
          - name: job-demo-cronjob-container2
            image: curlimages/curl
            command: ["/bin/sh","-c"]
            args: ["curl https://www.google.com; sleep 5"]
          restartPolicy: OnFailure
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
